<div class="title">
  <h2>Hello I'm <span class="name"> Daniel Mark</span>
    <br>I'm a Full Stack Developer</h2>
</div>

<p>
  <mat-progress-bar mode="indeterminate" color="warn"> </mat-progress-bar>
</p>
<button type="button" class="btn btn-outline-danger mr-6" ngbPopover="Please click here to Launch my profile"
  [routerLink]="['/home']" [openDelay]="300" [closeDelay]="300" triggers="mouseenter:mouseleave">
  Click to Launch &nbsp;&#8618;
</button>
<!-- Footer -->
<footer class="page-footer font-small black">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a class="fb-ic mr-3" role="button" href = 'https://facebook.com/danielmarkjohn'><i class="fab fa-lg fa-facebook-f"></i></a>
    <a class="li-ic mr-3" role="button" href = 'https://linkedin.com/in/danielmarkj/'><i class="fab fa-lg fa-linkedin-in"></i></a>
    <a class="ins-ic mr-3" role="button" href = 'https://instagram.com/danielmarkcodes'><i class="fab fa-lg fa-instagram"></i></a>
    <a class="git-ic mr-3" role="button" href = 'https://github.com/callofdutycsgo'><i class="fab fa-lg fa-github"></i></a>©
    2019 Copyright
    <a href="https://www.linkedin.com/in/danielmarkj/"> DanielMarkCodes</a>
  </div>
  <!-- Copyright -->



</footer>
<!-- Footer -->