h2{
    color: white;
    text-align: center;    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
 }
 .title{

    margin-bottom: 1%;
    margin-top: 25%;
 }
.name{
    color: red;    margin-left: auto;
    margin-right: auto;
}
 button{
color: rgb(255, 255, 255);   
margin-left: 45%;margin-top: 1%;

margin-bottom: 25%; text-align: center;   
}

html{
background-color: rgb(43, 43, 43); }